<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card" style="width: 30rem;">
      <img src="<%= campground.image %>" class="card-img-top" style="max-width: 100%; height: 100%;">
      <div class="card-body">
        <h1 class="card-title"><%= campground.title %></h1>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.location %></li>
        <li class="list-group-item">Price: <%= campground.price %></li>
      </ul>
      <div class="card-body">
        <a class="btn btn-primary" href="/camp">ALL Camp</a>
        <a class="btn btn-primary" href="/camp/<%= campground.id %>/edit">Edit</a>
      </div>
      
      
    </div>
    
  </div>
  <div class="col-6">
    <form method="post" action="/camp/<%= campground._id %>/reviews" class="needs-validation mb-3" novalidate>
      <h2>Leave a Review</h2>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="50" rows="3" required></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    
    <% for (let review of campground.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Rating: <%= review.rating %></h5>
        <p class="card-text"><%= review.body %></p>
        <form action="/camp/<%= campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="post" >
          <button class="btn bg-danger ">Delete</button>
        </form>
      </div>
    </div>
    <% } %>
  </div>
</div>
